{% extends "website/base.html" %}
{% load staticfiles %}

{% block style-block %}
<!-- datepicker id="bsdp-css" -->
<link href="{% static "website/css/bootstrap-datepicker3.min.css" %}" rel="stylesheet">
{% endblock style-block %}

{% block sidebar-block %}
    {% with active_menu="goals" %}
        {{ block.super }}
    {% endwith %}
{% endblock sidebar-block %}

{% block page-header-block %}
<!-- Page Heading -->
<div id="div_breadcrumb" class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Definir Metas
            <small>Pinewoods</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/dashboard/">Pinewoods</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Definir Metas
            </li>
        </ol>
    </div>
</div>
{% endblock page-header-block %}

{% block container-fluid-block %}
<div id="div_alert">
    <!-- dismissable alerts -->
</div>

{% for tank in tanks %}
<div class="row" id="div_tank_{{tank.pk}}">
    <!-- Define Goals-->
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-cogs"></i> Definir Meta</h3>
            </div>
            <div class="panel-body">
                <!-- <form class="form-horizontal"> -->
                <form id="goals_form" action="{% url 'goals-list' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="water_tank_span">Caixa D'Agua:</label>
                        <span id="water_tank_span" class="uneditable-input">{{ tank.description }}</span>
                        <input name="water_tank" type="hidden" value="{{tank}}">
                    </div>
                    <div class="form-group" id="datepicker-container">
                        <label for="datepicker_div">Selecione o mês:</label>
                        <div id="datepicker_div"></div>
                        <input id="datepicker_year_input" name="year" type="hidden">
                        <input id="datepicker_month_input" name="month" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="goal_input">Meta do periodo:</label>
                        <input id="goal_input" name="goal" class="form-control" placeholder="Valor em Metros cúbicos (m³)">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="is_default">Definir Meta como Padrão</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="send_alert">Enviar aviso ao final do prazo</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Definir</button>
                    <button type="reset" class="btn btn-default">Limpar</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Goals History -->
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-folder"></i> Histórico de Metas</h3>
            </div>
            <div class="panel-body table-responsive">
                <div id="goals_chart_div" style="min-width: 310px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock container-fluid-block %}

{% block script-block %}

    <!-- highcharts.js TODO: download file -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!-- Datepicker -->
    <script src="{% static "website/js/bootstrap-datepicker.min.js" %}"></script>

    <script language="JavaScript">
        // http://eternicode.github.io/bootstrap-datepicker/
        $('#datepicker-container div').datepicker({
            format: "dd/mm/yy",
            //clearBtn: true,
            language: "pt-BR",
            orientation: "bottom auto",
            autoclose: true,
            todayHighlight: true,
            format: "mm-yyyy",
            viewMode: "months",
            minViewMode: "months"
        }).on('changeMonth', function(ev){
            console.log(ev); // DEBUG
            var currMonth = new Date(ev.date).getMonth()+1;
            var currYear = String(ev.date).split(" ")[3];
            $("#datepicker_month_input").attr('value', currMonth);
            $("#datepicker_year_input").attr('value', currYear);
        });;
    </script>

    <script language="JavaScript">
    // TODO: Move to file 

        var success_msg = '<div class="row">' +
            '<div class="col-lg-12">' +
                 '<div class="alert alert-success alert-dismissable">' +
                     '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                     '<i class="fa fa-info-circle"></i> <strong> Meta cadastrada com sucesso.</strong> Verifique o Histórico de Metas para mais detalhes.'+
                 '</div>' +
             '</div>' +
         '</div>';

        var error_msg = '<div class="row">' +
             '<div class="col-lg-12">' +
                 '<div class="alert alert-danger alert-dismissable">' +
                     '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                     '<i class="fa fa-info-circle"></i> <strong> Erro ao cadastrar a Meta</strong> Entre em contato com o Suporte Técnico.' +
                 '</div>' +
             '</div>' +
         '</div>';

        var form_selector = "#goals_form";
        var alert_div_selector = "#div_alert";

        function redirect_action_via_ajax(){
            $(form_selector).submit(function(ev){
                ev.preventDefault();
                $.ajax({
                    type: "POST",
                    url: $(this).attr("action"),
                    dataType: "json",
                    // TODO Get the request right
                    data: $("#goals_form").serialize(),
                    sucess: function(data){
                        console.log(data);
                        $(alert_div_selector).empty();
                        $(alert_div_selector).append(success_msg);
                    },
                    error: function(data){
                        console.log(data);
                        $(alert_div_selector).empty();
                        $(alert_div_selector).append(error_msg);
                    },
                });
            });
        }
        $(document).ready(redirect_action_via_ajax);

    </script>

    <script src="{% static "website/js/goalsBarsChart.js" %}"></script>

    <script language="JavaScript">

        var sabesp_goal = [10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0];
        var pinewoods_goal = [12.0, 12.0, 12.0, 11.0, 11.0, 11.0, 10.0, 10.0, 10.0, 9.0, 9.0, 9.0];
        var sabesp_sample = [7.9, 8.6, 9.5, 8.4, 12.5, 11.0, 8.6, 7.9, 9.3, 9.0, 10.9, 12.0];
        var pinewoods_sample = [9.3, 8.2, 7.5, 8.5, 10.9, 10.5, 8.0, 9.6, 9.0, 10.3, 9.6, 11.4];
        goals_chart_selector = '#goals_chart_div';

        $(document).ready(goalsBarChart(goals_chart_selector));

    </script>
{% endblock script-block %}
