{% extends "website/base.html" %}
{% load staticfiles %}

{% block style-block %}
<!-- datepicker id="bsdp-css" -->
<link href="{% static "website/css/bootstrap-datepicker3.min.css" %}" rel="stylesheet">
{% endblock style-block %}

{% block body_block %}
    {% for tank in tanks %}
        <div id="div_tank_{{tank.pk}}">
            {{tank}}
        <div>
    {% endfor %}
{% endblock %}


{% block sidebar-block %}
    {% with active_menu="historic" %}
        {{ block.super }}
    {% endwith %}
{% endblock sidebar-block %}

{% block page-header-block %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Histórico Sabesp
            <small>Pinewoods</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Pinewoods</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Histórico Sabesp
            </li>
        </ol>
    </div>
</div>
{% endblock page-header-block %}

{% block container-fluid-block %}

<div class="row">

    <!-- Define Goals-->
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-cogs"></i> Definir Meta</h3>
            </div>
            <div class="panel-body">
                <!-- <form class="form-horizontal"> -->
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group" id="datepicker-container">
                        <label for="datepicker_div">Selecione o mês:</label>
                        <div id="datepicker_div"></div>
                        <input id="datepicker_year_input" name="year" type="hidden">
                        <input id="datepicker_month_input" name="month" type="hidden">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Goals History -->
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-folder"></i> Histórico Sabesp</h3>
            </div>
            <div class="panel-body table-responsive">
                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr class="info">
                            <th>Mês</th>
                            <th>Consumido(m3)</th>
                            <th>Meta Sabesp</th>
                            <th>Meta</th>
                        </tr>
                    </thead>
                    <tbody id="records_tboby">
                    </tbody>
                </table>
                <!-- Paginator -->
                <ul id="ul_paginator" class="pagination">
                </ul>


            </div>
        </div>
    </div>
</div>

{% endblock container-fluid-block %}

{% block script-block %}

    <!-- Datepicker -->
    <script src="{% static "website/js/bootstrap-datepicker.min.js" %}"></script>

    <script language="JavaScript">
        // http://eternicode.github.io/bootstrap-datepicker/
        $('#datepicker-container div').datepicker({
            format: "dd/mm/yy",
            //clearBtn: true,
            language: "pt-BR",
            orientation: "bottom auto",
            autoclose: true,
            todayHighlight: true,
            format: "mm-yyyy",
            viewMode: "months",
            minViewMode: "months"
        }).on('changeMonth', function(ev){
            console.log(ev); // DEBUG
            var currMonth = new Date(ev.date).getMonth()+1;
            var currYear = String(ev.date).split(" ")[3];
            $("#datepicker_month_input").attr('value', currMonth);
            $("#datepicker_year_input").attr('value', currYear);
        });;
    </script>

    <script language="JavaScript">
        //TODO Ajax links
        function built_paginator(data){
            // Creates the <<
            $("#ul_paginator").append('<li><a href="#">&laquo</a></li>');

            n_pages = Math.ceil(data.count / data.results.length);
            for(i=1; i<=n_pages; i++){
                //li_elem = '<li><a href="#" class="active">'+i+'</a></li>';
                li_elem = '<li><a href="#">'+i+'</a></li>';
                $("#ul_paginator").append(li_elem);
            }
            // Creates the >>
            $("#ul_paginator").append('<li><a href="#">&raquo</a></li>');
        };

        //TODO rounding
        function built_table(data){
            $.each(data.results, function(i, item) {

                // Colors the table
                tr_obj = '<tr>';
                if((item.goal*0.9) > item.real_consume){
                    tr_obj = '<tr class="success">';
                }
                if(item.real_consume > (item.goal*1.1)){
                    tr_obj = '<tr class="warning">';
                }
                if(item.real_consume > (item.goal*1.2)){
                    tr_obj = '<tr class="danger">';
                }

                // Fill data
                $(tr_obj).append(
                    $('<th scope="row">').text(item.reading_competence),
                    $('<td>').text(item.reading_m3),
                    $('<td>').text(item.reading_m3),
                    $('<td>').text(item.reading_m3)
                ).appendTo('#records_tboby')
            });
        };

        function built_goals_panel(data){
            console.log(data); // DEBUG
            built_paginator(data);
            built_table(data);
        }

        $(document).ready(function(){
            var data = $.getJSON("{% url 'goals-list' %}", built_goals_panel)
        });
    </script>

{% endblock script-block %}
