{% extends "website/base.html" %}
{% load staticfiles %}

{% block style-block %}
{% endblock style-block %}

{% block body_block %}
    {% for tank in tanks %}
        <div id="div_tank_{{tank.pk}}">
            {{tank}}
        <div>
    {% endfor %}
{% endblock %}


{% block sidebar-block %}
    {% with active_menu="dashboard" %}
        {{ block.super }}
    {% endwith %}
{% endblock sidebar-block %}

{% block page-header-block %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard
            <small>Pinewoods</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Pinewoods</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Dashboard
            </li>
        </ol>
    </div>
</div>
{% endblock page-header-block %}

{% block container-fluid-block %}

<div class="row">
    <div class="col-lg-4">
        <!-- Water Level Graphics -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Nível da Caixa</h3>
            </div>
            <div class="panel-body">
                <svg id="fillgauge1" width="97%" height="300"></svg>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Metas de Consumo</h3>
            </div>
            <div class="panel-body">
                <div id="container" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>

{% endblock container-fluid-block %}

{% block script-block %}

    <!-- D3.JS -->
    <script src="{% static "website/js/d3.v3.min.js" %}"></script>

    <!-- liquidFillGauge http://bl.ocks.org/brattonc/5e5ce9beee483220e2f6 -->
    <script src="{% static "website/js/liquidFillGauge.js" %}"></script>

    <script language="JavaScript">
        var config1 = liquidFillGaugeDefaultSettings();
        config1.waveAnimateTime = 3500;
        config1.waveHeight = 0.05;
        config1.waveCount = 2.7;
        level = Math.floor(Math.random() * 100);
        var gauge1 = loadLiquidFillGauge("fillgauge1", level, config1);
    </script>

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!-- burndownChart.js -->
    <script src="{% static "website/js/burndownChart.js" %}"></script>

    <script language="JavaScript">
    function getRandom(min, max) {
        return Math.random() * (max - min + 1) + min;
    }

    meta = [];
    consumo = [];
    for (i = 0; i <= 31 ; i++) {
        meta[i] = 31 - i;
        if(i==0){
            consumo[i] = meta[i] - getRandom(-2, 2);
        }else{
            consumo[i] = consumo[i-1] - getRandom(-1, 1);
        }
    }
    water_goal_graph(meta, consumo);
    </script>

{% endblock script-block %}
