{% extends "website/base.html" %}
{% load staticfiles %}

{% block body_block %}
    {% for tank in tanks %}
        <div id="div_tank_{{tank.pk}}">
            {{tank}}
        <div>
    {% endfor %}
{% endblock %}


{% block sidebar-block %}
    {% with active_menu="dashboard" %}
        {{ block.super }}
    {% endwith %}
{% endblock sidebar-block %}

{% block page-header-block %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard
            <small>Pinewoods</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Pinewoods</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Dashboard
            </li>
        </ol>
    </div>
</div>
{% endblock page-header-block %}

{% block container-fluid-block %}

<div class="row">
    <!-- Water Level Graphics -->
    <svg id="fillgauge1" width="97%" height="250" onclick="gauge1.update(NewValue());"></svg>
</div>

{% endblock container-fluid-block %}

{% block script-block %}

    <!-- D3.JS -->
    <script src="{% static "website/js/d3.v3.min.js" %}"></script>

    <!-- liquidFillGauge http://bl.ocks.org/brattonc/5e5ce9beee483220e2f6 -->
    <script src="{% static "website/js/liquidFillGauge.js" %}"></script>

    <script language="JavaScript">
        var config1 = liquidFillGaugeDefaultSettings();
        config1.waveAnimateTime = 3500;
        config1.waveHeight = 0.05;
        config1.waveCount = 2.7;
        var gauge1 = loadLiquidFillGauge("fillgauge1", 50, config1);
    </script>

{% endblock script-block %}
