{% extends "website/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block sidebar-block %}
    {% with active_menu="" %}
        {{ block.super }}
    {% endwith %}
{% endblock sidebar-block %}

{% block page-header-block %}
<!-- Page Heading -->
<div id="div_breadcrumb" class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Suporte Técnico
            <small>Pinewoods</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/dashboard">Pinewoods</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Suporte Técnico
            </li>
        </ol>
    </div>
</div>
{% endblock page-header-block %}

{% block container-fluid-block %}
<div id="div_alert">
    <!-- dismissable alerts -->
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-wrench"></i> Suporte Técnico
            </div>
            <div class="panel-body">
                {% if message %}
                    <div id="div_alert">
                        <!-- dismissable alerts -->
                        <span id="message_span" class="uneditable-input">{{ message }}</span>
                        <span id="stack_trace_span" class="uneditable-input">
                            {% for error in support_form.errors %}
                                {{ support_form.errors }}
                            {% endfor %}
                        </span>
                    </div>
                {% else %}
                    <form method="POST" action="/support/">
                        {% csrf_token %}
                        {{ support_form|bootstrap }}
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock container-fluid-block %}
