{% extends "website/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block sidebar-block %}
    {% with active_menu="data" %}
        {{ block.super }}
    {% endwith %}
{% endblock sidebar-block %}

{% block page-header-block %}
<!-- Page Heading -->
<div id="div_breadcrumb" class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Exportar Dados
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="{% url 'dashboard' %}">Início</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Exportar Dados
            </li>
        </ol>
    </div>
</div>
{% endblock page-header-block %}

{% block container-fluid-block %}
<div id="div_alert">
    <!-- dismissable alerts -->
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-table fa-fw"></i> Exportar Dados</h3>
        </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="{% static 'website/relatorio.xls' %}" class="list-group-item">
                        <span class="badge">exportar</span>
                        <i class="fa fa-fw fa-calendar"></i> Relatório Mensal
                    </a>
        
                    <a href="{% static 'website/relatorio.xls' %}" class="list-group-item">
                        <span class="badge">exportar</span>
                        <i class="fa fa-fw fa-check"></i> Relatório de Metas
                    </a>

                    <a href="{% static 'website/relatorio.xls' %}" class="list-group-item">
                        <span class="badge">exportar</span>
                        <i class="fa fa-fw fa-dashboard"></i> Relatório de Consumo
                    </a>

                    <a href="{% static 'website/relatorio.xls' %}" class="list-group-item">
                        <span class="badge">exportar</span>
                        <i class="fa fa-fw fa-tint"></i> Exportar Dados Sabesp
                    </a>

                    <a href="{% static 'website/relatorio.xls' %}" class="list-group-item">
                        <span class="badge">exportar</span>
                        <i class="fa fa-fw fa-money"></i> Extrato Pagamentos Wolksen
                    </a>
    </div>
</div>

{% endblock container-fluid-block %}
