{% extends "show_case/base.html" %}
{% load staticfiles %}

{% block sidebar-block %}
    {% with active_menu="dashboard" %}
        {{ block.super }}
    {% endwith %}
{% endblock sidebar-block %}

{% block page-header-block %}
<!-- Page Heading -->
<div id="div_breadcrumb" class="row">
    <div class="col-lg-12">
        <!--
        <h1 class="page-header">
            Dashboard
        </h1>
        -->
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="{% url 'dashboard' %}">Início</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Dashboard
            </li>
        </ol>
    </div>
</div>
{% endblock page-header-block %}

{% block container-fluid-block %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Temperatura e Pressão</h3>
            </div>
            <div class="panel-body">
                    <div class="col-sm-8">
                        <div id="container" style="min-width: 310px; height:
                            400px; margin: 0 auto"></div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="container-speed" style="width: 265px; height: 200px; float: left"></div>
                            </div>
                            <div class="col-xs-12">
                                <div id="container-rpm" style="width: 265px; height: 200px; float: left"></div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Nível da Caixa</h3>
            </div>
            <div class="panel-body">
                <div id="level_chart" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>
-->
{% endblock container-fluid-block %}

{% block script-block %}

    <!--
        highstock.js import highcharts.js
        script src="{% static "website/js/highcharts.js" %}"
    -->
    <script src="{% static "website/js/highstock.js" %}"></script>
    <script src="{% static "website/js/exporting.js"  %}"></script>

    <!-- pressureGauge.js -->
    <script src="{% static "show_case/js/highcharts-more.js" %}"></script>
    <script src="{% static "show_case/js/solid-gauge.js" %}"></script>
    <script src="{% static "show_case/js/pressureGauge.js" %}"></script>

    <!-- tempPressureChart.js -->
    <script src="{% static "show_case/js/tempPressureChart.js" %}"></script>

    <script language="JavaScript">

        function plot_tp_chart(data){
            $("#container").highcharts().series[0].setData(
                data.temp_list);
            $("#container").highcharts().series[1].setData(
                data.pressure_list);
        }

       function main_chart(){
            url_pressure = "{% url 'intraday-pressure-temperature' %}"

            $.ajax({
                dataType: "json",
                url: url_pressure,
                cache: false,
                success: plot_tp_chart
            });
        };

       setInterval(main_chart, 1550);

   </script>

    <script language="JavaScript">

        function plot_pressure_gauge(data){
            $("#container-rpm").highcharts().series[0].setData(
                [data.sensor_reading]);
        }

       function plot_temp_chart(data){
            $("#container-speed").highcharts().series[0].setData(
                [data.sensor_reading]);
        }

        function main_gauge(){
            url_pressure = "{% url 'current-pressure' %}"
            url_temp = "{% url 'current-temperature' %}"

            $.ajax({
                dataType: "json",
                url: url_pressure,
                cache: false,
                success: plot_pressure_gauge
            });

            $.ajax({
                dataType: "json",
                url: url_temp,
                cache: false,
                success: plot_temp_chart
            });
        };

       setInterval(main_gauge, 1000);

    </script>


{% endblock script-block %}
